<section  *ngIf="data" class="section-card" >
  <div>
  <div class="card-container">
    <div class="card-inner">
      <div class="card-bg-container">
        <div class="card-bg">
          <img src="{{data.image}}" class="img-fluid">
        </div>
        <h3 class="card-text1" [innerHTML]="data.text1"></h3>
      </div>
      <div class="card-content-container">
        <p class="card-text2" [innerHTML]="data.text2"></p>
      </div>
    </div>
    <div class="card-link">
      <a href="{{data.linkUrl}}" class="btn btn-primary" target="{{data.target}}">
        {{data.linkText}}
      </a>
    </div>
  </div>
</div>
  <!-- Remove  For Production Use -->
  <app-code-snippets [data]="cardsSnippetData[0]"></app-code-snippets>
<!--close Remove -->
</section>

<section class="section-card">
  <div class="enroll">


  <div class="enroll-card">
    <div class="img-section">
      <img src="assets/images/enrollCardImg.png" alt="">
    </div>
    <h4>
      ASSOCIATE
    </h4>
    <p>
      Save up to 10% on retail prices.

      Save an additional 10% by signing up for convenient recurring deliveries (Auto Order).

      Potentially earn commissions based on product sales.

      Share this USANA opportunity with others and build your own sales team.

      Qualify for exclusive incentives and world-class events.
    </p>
    <button class="btn btn-primary">
      SELECT
    </button>
  </div>
  </div>
  <app-code-snippets [data]="cardsSnippetData[0]"></app-code-snippets>

</section>


