@import "~sass/variables";
@import "~sass/mixins";
.card-container {
  margin:0 20px 0 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 15px 30px $tintedglass;
  background-color: #fff;
  position: relative;
  padding-bottom: 20px;
}
.card-bg-container,
.card-container,
.card-bg img {
  width: 320px;
}
.card-container,
.card-bg img {
  width: 320px;
}
.card-bg img {
  height: auto;
  border-radius: 10px 10px 0 0;
}
.card-bg-container {
  position: relative;
}
.card-inner {
  overflow: hidden;
}
:host[card-type] .card-container {
  box-shadow: 0 15px 30px $tintedglass;
}
.card-text1 {
  position: relative;
  color: #333;
  padding: 0 20px;
  font-weight: 500;
  font-size: 1.35rem;
  line-height: 1.35rem;
}
.card-text1:empty {
  display: none;
}
.card-content-container {
  position: relative;
}
.card-text2 {
  margin: 1.25rem;
}
:host:not([card-type]) .card-text2 strong{
  text-align: right;
  display:block;

}
@include media-breakpoint-down(sm) { /* mobile */
  .card-bg-container,
  .card-container,
  .card-bg img {
    width: 300px;
  }
  .card-container{
    margin: 5px;
  }
  .btn {
    width: 220px!important;
  }
}

