
<section class="section-form-elements" *ngIf="formElementData[0]">
  <div class="formInputs">
    <label>Label</label>
    <input type="text" placeholder="Placeholder" class="form-input-style-border">
  </div>
  <app-code-snippets [data]="formElementData[0]"></app-code-snippets>
</section>

<section class="section-form-elements" *ngIf="formElementData[1]">
  <div class="select-input">
    <select class="form-input-style-border">
      <option selected> Select Box </option>
      <option>Option 1</option>
      <option>Option 2</option>
      <option>Last long option</option>
    </select>
  </div>
  <app-code-snippets [data]="formElementData[1]"></app-code-snippets>
</section>

<section>
  <h3>Example of a Form</h3>
<div class="form">
  <div class="form-group">
    <div>
      <label>Email<sup>*</sup></label>
      <input type="text" placeholder="Enter" class="form-input-style-border">
    </div>
    <div>
      <label>Confirm Email<sup>*</sup></label>
      <input type="text" placeholder="Enter" class="form-input-style-border">
    </div>

  </div>
  <div class="form-group">
    <div>
      <label>Primary Phone<sup>*</sup></label>
      <input type="text" placeholder="Enter" class="form-input-style-border">
    </div>
    <div>
      <label>Secondary Phone<sup>*</sup></label>
      <input type="text" placeholder="Enter" class="form-input-style-border">
    </div>
  </div>
  <div class="form-group">
    <div>
      <label>Street Address 1<sup>*</sup></label>
      <input type="text" placeholder="Enter" class="form-input-style-border">
    </div>
    <div>
      <label>Street Address 2<sup>*</sup></label>
      <input type="text" placeholder="Enter" class="form-input-style-border">
    </div>

  </div>
  <div class="form-group">
    <div> <label>City<sup>*</sup></label>
      <input type="text" placeholder="Enter" class="form-input-style-border">
    </div>
    <div>
      <label>State<sup>*</sup></label>
      <div class="select-input">
        <select class="form-input-style-border">
          <option selected> Select State </option>
          <option>Option 1</option>
          <option>Option 2</option>
          <option>Last long option</option>
        </select>
      </div>
    </div>

  </div>
  <div class="form-group">
    <div>
      <label>Postal Code<sup>*</sup></label>
      <input type="text" placeholder="Enter" class="form-input-style-border">
    </div>
  </div>
</div>


</section>
