<section id="section-video-hero">

  <!--<div class="overlay-bg"></div>-->
  <!--<video autoplay muted loop id="myVideo">-->
    <!--<source src="assets/bg-video-celavive.mp4" type="video/mp4">-->
    <!--Your browser does not support HTML5 video.-->
  <!--</video>-->
  <!--<div class="center-hero-text">-->
    <!--<div class="hero-video-content">-->
      <!--<div class="hero-text ">Some Hero Text</div>-->
      <!--<div class="hero-link">-->
        <!--<a href="#" target="#" class="btn btn-ghost">Learn More</a>-->
      <!--</div>-->
      <!--<div class="more-below ">-->
        <!--<i class="fa fa-angle-down  fa-4x"></i>-->
      <!--</div>-->

    <!--</div>-->
  <!--</div>-->

  <div class="video">
      <video autoplay muted loop id="background-video">
        <source src="assets/bg-video-celavive.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
      </video>
    </div>


<app-code-snippets [data]="heroVideoSnippetsData[0]"></app-code-snippets>
</section>
