<div class="section-type">
  <h3>General Notes</h3>
  <p>
    Our official webfont is Montserrat for Latin and Latin Extended characters.
    Any USANA market that requires special language fonts will use their corresponding font in the
    Noto Sans family. Chinese will use Noto Sans CJK (Simplified or Traditional... must be specified and used).
  </p>
  <ul>
    <li>Japanese Sans Serif - https://www.google.com/get/noto/#sans-jpan
    </li>
    <li>Japanese Serif - https://www.google.com/get/noto/#serif-jpan
    </li>
    <li>Thai Sans Serif - https://www.google.com/get/noto/#sans-thai
    </li>
    <li>Thai Serif - https://www.google.com/get/noto/#serif-thai
    </li>
    <li>Korean Sans Serif - https://www.google.com/get/noto/#sans-kore
    </li>
    <li>Korean Serif - https://www.google.com/get/noto/#serif-kore
    </li>
    <li>Chinese Traditional Sans Serif - https://www.google.com/get/noto/#sans-hant
    </li>
    <li>Chinese Traditional Serif - https://www.google.com/get/noto/#serif-hant
    </li>
    <li>Chinese Simplified Sans Serif - https://www.google.com/get/noto/#sans-hans
    </li>
    <li>Chinese Simplified Serif - https://www.google.com/get/noto/#serif-hans
    </li>
  </ul>
  <strong>Our official serif font is Georgia.</strong>
 <h3>Font Calculations</h3>
  <ul>
    <li>$font-size: 16px</li>
    <li>$line-height: 1.35rem</li>
    <li>$desktop-font-scale: 1.75rem</li>
    <li>$mobile-font-scale: 1.4rem</li>
  </ul>

  <h3>
    Desktop
  </h3>
  <ul>
    <li>  $h1-font-size-desktop = $font-size*($desktop-font-scale^3)
    </li>
    <li>$h1-line-height-desktop = $h1-font-size-desktop*$line-height
    </li>
    <li>$h2-font-size-desktop = $font-size*($desktop-font-scale^2)
    </li>
    <li>$h2-line-height-desktop = $h2-font-size-desktop*$line-height
    </li>
    <li>$h3-font-size-desktop = $font-size*($desktop-font-scale)
    </li>
    <li>$h3-line-height-desktop = $h3-font-size-desktop*$line-height
    </li>
  </ul>
  <h3>Mobile</h3>
  <ul>
    <li>$h1-font-size-mobile = $font-size*($mobile-font-scale^3)
    </li>
    <li>$h1-line-height-mobile = $h1-font-size-mobile*$line-height
    </li>
    <li>$h2-font-size-mobile = $font-size*($mobile-font-scale^2)
    </li>
    <li>$h2-line-height-mobile = $h2-font-size-mobile*$line-height
    </li>
    <li>$h3-font-size-mobile = $font-size*($mobile-font-scale)
    </li>
    <li>$h3-line-height-mobile = $h3-font-size-mobile*$line-height
    </li>
  </ul>
</div>
