 <div *ngIf="data" class=" d-flex flex-wrap">
    <div *ngFor="let data of data" class="wrap-data">
      <div [innerHTML]="data.html" ></div>
      <ngb-tabset>
        <ngb-tab title="HTML">
          <ng-template ngbTabContent>
            <PRE class="tab-data">{{data.html}}</PRE>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="CSS">
          <ng-template ngbTabContent ><div [innerHTML]="data.css"></div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>

