<app-jumbotron [data]="data"></app-jumbotron>
<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>#Seamless</h2>
      <p>The goal is to create a seamless, future proof, user experience across all of our assets</p>
      <h2>#How?</h2>
      <p>By providing our Creative Teams, IT, and Associates reusable code and design concepts that can be used across all platforms</p>
      <h3>Design Principles</h3>
      <ul>
        <li>Signal to Noise Ratio</li>
        <li>Hicks Law</li>
        <li>Affordance</li>
      </ul>
      <h3>Development Principles</h3>
      <ul>
        <li>Leave code better than you found it</li>
        <li>Reuse as much as possible <i>Components are our friends</i></li>
        <li>Keep it simple</li>
      </ul>
      <h3>Development Dependencies</h3>
        <i>Please download the required SASS mixins and Variables to make it all work</i>
      <p>We also require <a href="https://getbootrap.com">v4-bootstrap</a> <i>Lets avoid making it look bootstrappy ok!</i> </p>

    </div>
  </div>
</div>

