<footer *ngIf="data">
  <div class="logo-container">
    <img class="img-fluid" src="assets/images/usana-full-logo.png">
  </div>
  <div class="container">
  <div class="row footer-link-wrapper">
    <div class="col-md-3">
      <h4>{{data[0].companyLinkses[0].name}}</h4>
      <div *ngFor="let item of data[0].companyLinkses[0].localLinkses">
        {{item.name}}
      </div>
    </div>
    <div class="col-md-3" >
      <h4>{{data[0].companyLinkses[1].name}}</h4>
      <div *ngFor="let item of data[0].companyLinkses[1].localLinkses">
        {{item.name}}
      </div>
    </div>
    <div class="col-md-3">
      <h4>{{data[0].companyLinkses[2].name}}</h4>
      <div *ngFor="let item of data[0].companyLinkses[2].localLinkses">
        {{item.name}}
      </div>
    </div>
    <div class="col-md-3">
      <h4>{{data[0].followText}}</h4>
      <div class="d-flex">
        <div *ngFor="let item of data[0].socialMedias">
          <a href="{{item.url}}" target="{{item.target}}"><fa name="{{item.name}}" size="2x"></fa></a>
        </div>
      </div>
    </div>
  </div>
    <div class="disclaimer" >
      <div [innerHTML]="data[0].disclaimer1"></div>
      <div [innerHTML]="data[0].disclaimer2"></div>
      <div [innerHTML]="data[0].disclaimer3"></div>
      <div [innerHTML]="data[0].disclaimer4"></div>
      <div [innerHTML]="data[0].copyright"></div>
      <div *ngFor="let legal of data[0].legals; index as i;">
        <a href="{{legal.url}}" class="legal-link">{{legal.name}}</a>
      </div>
    </div>
  </div>
</footer>
<section>
  <app-code-snippets [data]="data[0]" *ngIf="this.page == 'footer'"></app-code-snippets>
</section>


