//.logo-container{
//  padding: 20px 0 50px;
//  max-width: 150px;
//  height: auto;
//  margin: 0 auto;
//}
//footer .container{
//  flex-direction: column;
//  align-items: center;
//
//}
//footer{
//  background-color: #333;
//  color: white;
//  width: 100%;
//}
//footer a {
//  color: white;
//}
//.legal-link {
//  font-size: 10px;
//  color: white;
//}
//
//.legal-link:hover {
//  color: white;
//}
//
//.footer-link-wrapper{
//  display: flex;
//  align-content: space-around;
//  margin: 0 25px 25px 0px;
//}
//.footer-link-wrapper div{
//  width: 200px;
//}
//footer .disclaimer{
//  font-size: .875rem;
//  font-weight: 100;
//  margin: 55px 0;
//  text-align: left;
//}
//footer .fa-2x{
//  font-size: 25px!important;
//}
@import '~sass/variables';
@import '~sass/mixins';

:host > div {
  background-color: $black;
  color: $white;
  display: block;
  min-height: 100px;
  padding: 55px 0;
  text-align: center;
  width: 100%;
}

.legal-link {
  font-size: 10px;
  color: white;
}

.legal-link:hover {
  color: white;
}

.logo-container {
  padding: 20px 0 50px;
}
@include media-breakpoint-up(xs) {
  .logo-container {
    max-width: 150px;
    height: auto;
    margin: 0 auto;
  }
}
.footer-links {
  text-align: left;

  a {
    color: $white;
  }
}

.column-title {
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.follow {
  font-weight: 600;
  margin: 20px auto;
}

.disclaimer {
  font-size: .875rem;
  font-weight: 100;
  margin: 55px 0;
  text-align: left;
}

@include media-breakpoint-up(sm) {
  .collapse {
    display: block;
  }
}

@include media-breakpoint-down(sm) {
  .footer-link-column {
    border-bottom: solid $ltgray 1px;
    text-align: center;
  }

  .column-title {
    font-weight: 600;
    margin-top: 20px;
  }

  .column-title:after {
    content: '\f107';
    font-family: 'FontAwesome';
    margin-left: 1em;
  }

  .column-title + div {
    font-weight: 300;
    margin-bottom: 10px;
  }

  .footer-link-column:last-child {
    border-bottom-width: 0;

    .column-title:after {
      display: none;
    }
  }
}

