/* You can add global styles to this file, and also import other style files */
app-sidebar{
  margin: 0 0 0 15px;
  width: 200px;
}
div  .btn-ghost{
  background-color: white!important;
  color: #333;
}

div .btn {
  min-width: 200px;
  border-color: #333;
  border-radius: 50px;
}

div .btn-ghost:hover{
  background-color: #333!important;
  color: white;
}

section{
  margin: 55px 0 55px 0;
}
