/* You can add global styles to this file, and also import other style files */
app-sidebar{
  margin: 0 0 0 15px;
  width: 200px;
}
div  .btn-primary{
  background-color: white!important;
  color: #353535;
}
