/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat');

html, .root {  font-size: 16px;  line-height: 22px; }
body, .article {  font-family: 'Montserrat',sans-serif;  font-size: 1rem; line-height: 1.375rem; }
h1, .h1 { font-size: 5.3594rem; line-height: 6.875rem; margin-top: 1.375rem; margin-bottom: 2.75rem; }
h2, .h2 { font-size: 3.0625rem; line-height: 4.125rem; margin-top: 1.375rem; margin-bottom: 1.375rem; }
h3, .h3 { font-size: 1.75rem; line-height: 2.3625rem; margin-top: 1.375rem; margin-bottom: 0rem; }

h4, .h4 { font-size: 1rem; line-height: 1.35rem; margin-top: 1.375rem; margin-bottom: 0rem; }
h5, .h5 { font-size: 1rem; line-height: 1.35rem; margin-top: 1.375rem; margin-bottom: 0rem; }
p, ul, ol, pre, table, blockquote { margin-top: 0rem; margin-bottom: 1.375rem; }
ul ul, ol ol, ul ol, ol ul { margin-top: 0rem; margin-bottom: 0rem; }
/* Let's make sure all's aligned */
hr, .hr {  border: 1px solid; margin: -1px 0; }
a, b, i, strong, em, small, code {  line-height: 0; }
sub, sup {  line-height: 0; position: relative; vertical-align: baseline; }
sup {  top: -0.5em; }
sub {  bottom: -0.25em; }

ul a{
  color: #333;
}
ul a:hover{
  text-decoration: none;
}

app-sidebar{
  margin: 0 0 0 15px;
  width: 300px;
}
div  .btn-ghost{
  background-color: white!important;
  color: #333;
}
div .btn {
  margin: 20px;
  min-width: 200px;
  border-color: #333;
  border-radius: 50px;
}
div .btn-ghost:hover{
  background-color: #333!important;
  color: white;
}
div  .btn-primary{
  background-color: #333!important;
  color: white;
}
div .btn-primary:hover{
  border-color: #333;
  background-color: white!important;
  color: #333;
}
section{
  margin: 55px 0 55px 0;
}


/* not to be included when copying over styles, these are specific to Usana UX/UI Digital Styleguide */

#modules{
  display: flex;
}
.module-container{
  width: 100%;
}

